{
  "demo": {
    "remote_address": "10.10.10.10:443",
    "local_address": "127.0.0.1:443",
    "proxy_host": "demo-proxy-host",
    "browser_open": "https://demo.example.com"
  },
  "foo": {
    "remote_address": "10.10.10.11:8080",
    "local_address": "127.0.0.1:8080",
    "proxy_host": "another-proxy-host",
    "browser_open": "http://foo.example.com"
  },
  "bar": {
    "remote_address": "172.17.0.100:5555",
    "local_address": "127.0.0.1:5555",
    "proxy_host": "dummy-proxy-host",
    "browser_open": "http://127.0.0.1:5555"
  }
}
